{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Your Profile</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Username:</strong> {{ user.username }}</p>
                            <p><strong>Email:</strong> {{ user.email }}</p>
                            <p><strong>Phone:</strong> {{ profile.phone|default:"Not provided" }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Age:</strong> {{ profile.age|default:"Not provided" }}</p>
                            <p><strong>Member since:</strong> {{ user.date_joined|date:"M d, Y" }}</p>
                            <p><strong>Last login:</strong> {{ user.last_login|date:"M d, Y H:i" }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p><strong>Address:</strong></p>
                            <p>{{ profile.address|default:"Not provided"|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}